@model IEnumerable<Form>
@*
    <ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>*@


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Student Form Data</h2>
        </div><br/><br/><br/>
        <div class="col-6 text-end">
            <button type="button"  data-bs-toggle="modal" data-bs-target="#RegisterFormModal" class="btn btn-primary RegisterBtn">
                <i class="bi bi-plus-circle"></i> Fill New Form
            </button>
        </div>
    </div>

<table class="table table-bordered table-striped table-hover table-responsive" style="width:100%">
        <thead>
        <tr>
            <th>
                Student Id
            </th> 
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
                        <th>
               Email
            </th>
                        <th>
               Phone
            </th>
                        <th>
                Gender
            </th>
                        <th>
                DOB 
            </th>
                                    <th>
                Edit 
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
      
                <tr>
                <td width="8%" class="id">
                    @obj.Id
                </td>
                <td width="20%" class="firstName" >
                    @obj.FirstName
                </td>
                                <td width="20%" class="lastName">
                    @obj.LastName
                </td>
                                <td width="20%" class="email">
                    @obj.Email
                </td>
                                <td width="5%" class="phone">
                    @obj.Phone
                </td>
                                <td width="5%" class="gender">
                    @obj.Gender
                </td>
                                <td width="40%" class="dob">
                    @obj.DOB
                </td>
                <td> 
                    <div class="w-75 btn-group" role="group">
                     <button type="button" style="padding:8px 9px" data-bs-toggle="modal" data-bs-target="#ViewFormModal" class="btn btn-info mx-2 view">
                        <i class="bi bi-eye-fill"></i>View
                     </button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#EditFormModal" style="padding:8px 9px" class="btn btn-primary mx-2 edit">
                        <i class="bi bi-pencil-square"></i>Edit
                     </button>
                     <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" style="padding:8px 9px" class="btn btn-danger mx-2 delete">
                        <i class="bi bi-trash-fill"></i> Delete
                     </button>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<!-- Register Form Modal -->
<div class="modal fade" id="RegisterFormModal" tabindex="-1" aria-labelledby="RegisterFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
@*      <div class="modal-header" style="background-color:#e7eaed">
        <h3 class="modal-title"> <img src="~/css/idcard.png" style="height:50px;width:50px"/> Student Registration Form</h3>
      </div>*@
      <div class="modal-body">
        <h2 class="modal-title" style="text-align:center"> <img src="~/css/idcard.png" style="height:50px;width:50px"/> Student Registration Form</h2>
              <hr />
        <br />

          <form method="post" asp-action="FillForm" enctype="multipart/form-data">

<div>
    <h4> Profile Picture </h4>
<div class="row">
    <div class="col">
      <input name="ProfileImageLocal" style="color:white !important" type="file" class="form-control btn-primary">
    </div>
  </div>
 </div>
              <hr />

  <br/>
<div>
    <h4> Primary Details </h4>

<div class="row">
    <div class="col">
        <label>First Name:</label>
      <input name="FirstName" type="text" class="form-control">
    </div>
    <div class="col">
        <label>Last Name:</label>
      <input name="LastName" type="text" class="form-control " >
    </div>
  </div>
   <br/>
  <div class="row">
    <div class="col">
        <label>Gender:</label>
<select name="Gender" class="form-select">
  <option selected>Choose  Gender</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select>
    </div>
    <div class="col">
        <label>Date of Birth:</label>
      <input name="DOB" type="date" class="form-control" >
    </div>
  </div>
  </div>
              <hr />

  <br/>
  <div>
    <h4> Contact Details </h4>
<div class="row">
    <div class="col">
        <label >Email:</label>
      <input name="Email" type="text" class="form-control" value="">
    </div>
    <div class="col">
        <label >Phone:</label>
      <input name="Phone" type="number" maxlength="10" class="form-control"  >
    </div>
  </div>
</div>
              <hr />

<br />

  <div>
    <h4> Address Details </h4>
<div class="row">
    <div class="col">
        <label>Permanent Address</label>
        <br/><br/>
      <textarea name="PermanentAddress" class="form-control" id="PerAddress"></textarea>
    </div>
    <div class="col">
        <label>Current Address</label>
       <div class="form-group">
          <input type="checkbox" class="form-check-input" id="checkBox"  onclick="FillAddressInput()"> Same as permanent address
       </div>
      <textarea name="CurrentAddress" id="CurrAdd" class="form-control"></textarea>
    </div>
  </div>
</div>
              <hr />

<br />
  <div>
    <h4> Educational Details </h4>
<div class="row">
    <div class="col">
        <label >Undergraduate Course</label>
        <br/>
<select name="CourseId" id="UgCourse" class="form-select">
  <option selected>Choose Course</option>
@*  <option value="B.Tech">B.tech</option>
  <option value="B.Arch">B.Arch</option>
  <option value="B.Com">B.Com</option>
  <option value="BBA">BBA</option>
  <option value="BA">BA</option>*@
</select>
    </div>
    <div class="col">
        <label>Stream</label>
        <br/>
<select class="form-select" id="Stream" name="StreamId">
  <option selected>Choose Stream</option>
@*  <option value="CS">CS</option>
  <option value="IT">IT</option>
  <option value="ME">ME</option>
  <option value="CSE">CSE</option>
  <option value="EE">EE</option>
  <option value="Arts">Arts</option>
  <option value="Commerce">Commerce</option>*@
</select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
        <label>12th Percentage</label>
        <br/>
      <input type="number" name="TwelfthMarks" class="form-control" >
    </div>
    <div class="col">
        <label>10th Percentage</label>
        <br/>
      <input name="TenthMarks" type="number" class="form-control" >
    </div>
  </div>
</div>
<hr />
<br />
  <div>
    <h4> Tell Us About Yourself</h4>
<div class="row">
    <div class="col">
      <textarea name="StudentBio" class="form-control" rows="5" placeholder="Student Bio"></textarea>
    </div>
  </div>
</div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Reset</button>
        <button type="submit" class="btn btn-primary">Save Details</button>
      </div>
</form>
      </div>
@*      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>*@
    </div>
  </div>
</div>


<!--Edit Modal -->
<div class="modal fade" id="EditFormModal" tabindex="-1" aria-labelledby="EditFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
                  <h2 class="modal-title" style="text-align:center"> <img src="~/css/idcard.png" style="height:50px;width:50px"/> Student Registration Form</h2>
              <hr />
          <form method="post" asp-action="EditForm" enctype="multipart/form-data">

<div>
    <h4> Profile Picture </h4>
               <input name="imgDummyPath" id="imgDummyPath" type="text" hidden/>
<div class="row">
    <div class="col-md-5">
        <img class="img-thumbnail" id="editProfileImg" style="height:200px;width:200px;padding:unset"/>
    </div>
    <div class="col-md-7">
       <button type="button" style="padding:8px 9px" id="editProfileImgBtn" onclick="changeProfileImg()" class="btn btn-primary mx-2">  
                        <i class="bi bi-pencil-square"></i>Edit Profile Picture
       </button>
    </div>
        <div class="col-md-12">
                <input name="ProfileImageLocal" id="editImageUpload" style="color:white !important" type="file" class="form-control btn-primary">
    </div>
  </div>
  </div>
  <hr />
  <br/>
<div>
    <h4> Primary Details </h4>
<div class="row">
    <input name="Id" id="StdId" type="text" hidden/>
    <div class="col">
        <label>First Name:</label>
      <input name="FirstName" id="EditFirstName" type="text" class="form-control">
    </div>
    <div class="col">
        <label>Last Name:</label>
      <input name="LastName" id="EditLastName" type="text" class="form-control" >
    </div>
  </div>
   <br/>
  <div class="row">
    <div class="col">
        <label>Gender:</label>
<select name="Gender" id="EditGender" class="form-select">
  <option selected>Choose  Gender</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select>
    </div>
    <div class="col">
        <label>Date of Birth:</label>
      <input name="DOB" id="EditDob" type="date" class="form-control" >
    </div>
  </div>
  </div>
  <hr />
  <br/>
  <div>
    <h4> Contact Details </h4>
<div class="row">
    <div class="col">
        <label >Email:</label>
      <input name="Email" id="EditEmail" type="text" class="form-control">
    </div>
    <div class="col">
        <label >Phone:</label>
      <input name="Phone" id="EditPhone" type="number" maxlength="10" class="form-control"  >
    </div>
  </div>
</div>

  <hr />
  <br/>

  <div>
    <h4> Address Details </h4>
<div class="row">
    <div class="col">
        <label>Permanent Address</label>
        <br/><br/>
      <textarea name="PermanentAddress" class="form-control" id="EditPerAddress"></textarea>
    </div>
    <div class="col">
        <label>Current Address</label>
       <div class="form-group">
          <input type="checkbox" class="form-check-input" id="EditCheckBox"  onclick="EditAddressInput()"> Same as permanent address
       </div>
      <textarea name="CurrentAddress" class="form-control" id="EditCurrAdd"></textarea>
    </div>
  </div>
</div>
  <hr />
  <br/>
  <div>
    <h4> Educational Details </h4>
<div class="row">
    <div class="col">
        <label >Undergraduate Course</label>
        <br/>
<select name="CourseId" id="EditUgCourse" class="form-select">
  <option selected>Choose Course</option>
</select>
    </div>
    <div class="col">
        <label>Stream</label>
        <br/>
<select class="form-select" id="EditStream" name="StreamId">
  <option selected>Choose Stream</option>
</select>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <label>12th Percentage</label>
        <br/>
      <input type="number" name="TwelfthMarks" id="EditTwelfthMarks" class="form-control" >
    </div>
    <div class="col">
        <label>10th Percentage</label>
        <br/>
      <input name="TenthMarks" type="number" id="EditTenthMarks" class="form-control" >
    </div>
  </div>
</div>
  <hr />
  <br/>
  <div>
    <h4> Tell Us About Yourself</h4>
<div class="row">
    <div class="col">
      <textarea name="StudentBio" id="EditBio" class="form-control" rows="5" placeholder="Student Bio"></textarea>
    </div>
  </div>
</div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Reset</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
</form>
      </div>
    </div>
  </div>
</div>

<!--View Modal -->
<div class="modal fade" id="ViewFormModal" tabindex="-1" aria-labelledby="ViewFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
@*      <div class="modal-header">
        <h5 class="modal-title" id="ViewModalLabel">View Data</h5>
      </div>*@
      <div class="modal-body">
                        <div>
<div class="row">
    <div class="col-md-5">
        <img class="img-thumbnail" id="profileImg" style="height:230px;width:250px;padding:unset"/>
                <h6 id="AlertLine">Please Upload Student Profile Picture in Edit Section</h6>
    </div>
    <div class="col-md-7">
        <div>
    <h4 style="font-weight:500"> Primary Details </h4>
    <hr />
<div class="row">
    <input name="Id" id="StdId" type="text" hidden/>
    <div class="col">
        <label>First Name:</label>
        <h5 id="ViewFirstName"></h5>
    </div>
    <div class="col">
        <label id="ViewFirstName">Last Name:</label>
        <h5 id="ViewLastName"></h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <label>Gender:</label>
        <h5 id="ViewGender"></h5>
    </div>
    <div class="col">
        <label>Date of Birth:</label>
        <h5 id="ViewDOB"></h5>
    </div>
  </div>
  </div>
    </div>
  </div>
  </div>
  <br/>
  <div>
 <h4 style="font-weight:500"> Contact Details </h4>
    <hr />

<div class="row">
    <div class="col">
        <label >Email:</label>
        <h5 id="ViewEmail"></h5>
    </div>
    <div class="col">
        <label >Phone:</label>
        <h5 id="ViewPhone"></h5>
    </div>
  </div>
</div>

<br />

  <div>
<h4 style="font-weight:500"> Address Details </h4>
    <hr />
<div class="row">
    <div class="col">
        <label>Permanent Address:</label>
        <br/>
        <h5 id="ViewPerAdd"></h5>
    </div>
    <div class="col">
        <label>Current Address:</label>
                <br/>
        <h5 id="ViewCurrAdd"></h5>
    </div>
  </div>
</div>
<br />
  <div>
<h4 style="font-weight:500"> Educational Details </h4>
    <hr />
<div class="row">
    <div class="col">
        <label >Undergraduate Course:</label>
        <br/>
        <h5 id="ViewUgCourse"></h5>
    </div>
    <div class="col">
        <label>Stream:</label>
        <br/>
        <h5 id="ViewStream"></h5>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <label>12th Percentage:</label>
        <br/>
        <h5 id="ViewTwelfth"></h5>
    </div>
    <div class="col">
        <label>10th Percentage:</label>
        <br/>
        <h5 id="ViewTenth"></h5>
    </div>
  </div>
</div>
<br />
  <div>
<h4 style="font-weight:500">About </h4>
    <hr />
<div class="row">
    <div class="col">
        <h5 style="font-weight:300" id="ViewBio"></h5>
    </div>
  </div>
</div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
@*      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>*@
    </div>
  </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <form asp-action="DeleteForm" method="post">
       <h3>Are you sure ?</h3>
           <input name="Id" id="StdId2" type="text" hidden/>
       <br />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" asp-action="deleteForm" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
